<li class="cd-popular">
   <ul class="cd-pricing-wrapper">
      <li data-type="monthly">
         <header class="cd-pricing-header">
            <h2>Popular</h2>
            <div class="cd-price">
               <span class="cd-currency">€</span>
               <span class="cd-value">60</span>
               <span class="cd-duration">mo</span>
               <p>/ <s class="next" title="Next payment"></s></p>
               <p class="off" title="Discount for buying a package for this amount of time"><span></span> <s></s></p>
            </div>
         </header>
         <!-- .cd-pricing-header -->
         <div class="cd-pricing-body">
            <ul class="cd-pricing-features">
               <li data-type="cpu"><em></em> Cores</li>
               <li data-type="ram"><em></em> RAM</li>
               <li data-type="hdd"><em></em> HDD</li>
               <li data-type="web-domains"><em></em> Domains</li>
               <li data-type="web-dbs"><em></em> Databases</li>
               <li data-type="web-ftp"><em></em> FTP Accounts</li>
               <li data-type="web-inodes"><em></em> INodes</li>
               <li data-type="web-bandwidth"><em></em> Bandwidth</li>
               <li data-type="game-dedicated"><em></em> Dedicated Games</li>
               <li data-type="game-concurrent"><em></em> Concurrent Players</li>
            </ul>
         </div>
         <!-- .cd-pricing-body -->
         <footer class="cd-pricing-footer">
            <a class="cd-select" href="#">Select</a>
         </footer>
         <!-- .cd-pricing-footer -->
      </li>
   </ul>
   <!-- .cd-pricing-wrapper -->
</li>