* {
	box-sizing: border-box;
}

body {
	/*Want to change background image?*/
	/*Upload a new one to the img folder.*/
	/*Make sure you name it 'minecraft.jpg'*/
	background-size: cover;
	font-family: "Open Sans", Helvetica;
	margin: 0;
	position: relative;
}

html, body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 3px;
}

body > header {
    background: linear-gradient(rgba(20, 26, 35,0.55),rgba(20, 26, 35, 0.55)),
				url("../img/bg.jpg") no-repeat center center;
}

.container {
	text-align: center;
}

.logo {
    text-align: center;
}

.items p, .items img {
    width: 100%;
    text-align: center;
}

.logo img, .items p, .items img {
    /*
    display: inline-block;
    */
}

.logo img {
	width: 225px; /* Change image size for mobile */
	-webkit-animation-name: logo;
	        animation-name: logo;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
    position: relative;
    left: -25px;
}


@-webkit-keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

.playercount {
	display: inline-block;
	margin: 20px 15px 0 15px;
	padding: 2px 0;
	background-color: rgba(15, 199, 209, 0.75);
	font-size: 1em;
	color: white;
	text-align: center;
	border-radius: 5px 0 5px 0;
	line-height: 27px;
}

.playercount > p > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	background: rgba(9, 150, 158, 0.7);
	margin: 0 2px;
}

.extrapad {
	padding: 0;
}

.ip {
	cursor: pointer;
}

.items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	padding: 18px 0 10px 0;

}

.item img {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-bottom: 7px;
}

.item img:hover {
	-webkit-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	        transform:scale(1.1);
}

.img {
	width: 80%;
}

.title {
	font-weight: bold;
	font-size: 17px;
	color: white;
}

.subtitle {
	color: #cfcfcf;
	font-size: 12px;
}

.title,
.subtitle {
	margin: 0;
	padding: 0;
}


@media(min-width: 400px) {
	.logo img {
		width: 290px; /* Change image size for mid sized devices */
	}

	.playercount {
		margin-top: 30px;
		padding: 5px;
	}

	.playercount > p > span {
		padding: 2px 7px;
	}
}

@media(min-width: 1250px) {
	.title {
		font-size: 24px;
	}

	.subtitle {
		font-size: 15px;
	}

	.logo img {
		width: 470px; /* Change image size for desktop */
	}

	.logo {
		margin-bottom: 28px;
	}
	.img {
		width: 100%;
	}
	.items {
		padding: 30px 0 20px 0;
	}
	.playercount {
		font-size: 1.22em;
		padding: 10px;
	}

	.extrapad {
		padding: 0 42.5px;
	}

	.playercount > p > span {
		padding: 4px 7px;
	}
}

@media(min-width: 1000px) {
	.items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.item:not(:first-child) {
		margin-left: 90px;
	}
}


.items img {
    width: 165px;
    height: 165px;
}

body > section {
    padding: 25px 0;
}

body > section:nth-child(odd) {
    background-color: #222;
}

body > section:nth-child(even) {
    background-color: #111;
}

section:not(.prices) {
    color: white;
    padding: 25px 10%;
}

section h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

section p {
    font-size: 120%;
}

.goal-section .keep {
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: inline-block
}

.prices {
    width: 100%!important;
    margin: 0!important;
    max-width: initial!important;
}

label {
    margin-bottom: initial!important;
}

.cd-pricing-list {
    padding: 0 10%;
}

.price-item period, output {
    display: none!important;
}

.fieldset input {
    display: none;
}

.cd-switch {
    position: relative;
}

div[data-switch-type="period"] .cd-switch {
    background-color: rgb(204, 160, 0)!important;
}

.cd-price {
    position: relative;
}

.cd-price .off {
    position: absolute;
    top: 24px;
    right: 60px;
}

.cd-price .off span {
    background-color: red;
    padding: 3px 5px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    display: block;
}

.cd-price .off s {
    font-size: 75%;
}

.cd-price p:not(.off) {
    font-size: 150%;
}

.progress {
  position:relative;
  height:70px!important;
}

.raised {
  position:absolute!important;
  left:10px;
  top:9px;
}

.goal {
  position:absolute!important;
  right:10px;
  top:9px;
}

.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.tright {
    text-align: right;
}

.tbold {
    font-weight: bold;
}

.who-we-are p {
    text-align: center;
}

.vizzuta-logo {
    width: 250px;
}

body > footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0!important;
    font-weight: bold!important;
    font-size: 125%!important;
}

body > footer a {
    color: #ffc800;
}

/* ===================================================== */


.cd-popular .cd-pricing-header {
    background-color: rgb(204, 160, 0)!important;
}

/* XS */
@media (max-width: 576px) {
    .cd-price {
        position: absolute;
        bottom: -150px;
        width: 100%;
    }
    
    .cd-price span, .cd-price p {
        color: black;
    }
    
    .cd-pricing-body {
        height: 150px;
        margin-bottom: 100px;
    }
    
    .cd-price p.off {
        z-index: 6;
    }
    
    li.is-hidden p.off {
        display: none;
    }
    
    li.is-visible p.off {
        top: -5px;
        right: 25px;
    }
    
    .cd-price p:not(.off) {
        display: inline-block;
    }
    
    .cd-popular .cd-pricing-footer {
        background-color: rgb(174, 130, 0);
    }
    
    .cd-pricing-footer {
        position: absolute;
        z-index: 7;
        bottom: -80px;
        background-color: #086f9f;
        top: initial!important;
    }
    
    .cd-select {
        color: white!important;
    }
    
    .cd-pricing-footer a {
        line-height: 80px;
        text-align: center;
        left: 50%;
        margin-left: -50px;
        position: relative;
        font-size: 250%;
        display: initial;
    }
    
    .cd-switch {
        display: none!important;
    }
    
    .fieldset {
        border: 0!important;
        border-radius: 0!important;
    }
    
    .fieldset label {
        background: #c6a16e;
        -moz-user-select: none;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 0;
        padding: 27px 44px;
        cursor: pointer;
        transition: color 0.4s linear;
        position: relative;
        z-index: 1;
        border: 0;
        overflow: hidden;
        margin: 0;
        width: 100%;
        height: initial!important;
        line-height: initial!important;
        background-color: #666;
        margin: initial;
    }
    .fieldset label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #333;
        z-index: 1;
        border-radius: 5px;
        transition: transform 0.5s;
        transition-timing-function: ease;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        transform: scaleX(0);
        border-radius: 0;
    }
    .fieldset label:hover::before {
        transform: scaleX(1);
        color: #fff !important;
        z-index: -1;
    }
    
    .alert-success {
        background-color: rgba(223, 240, 216, .5)!important;
        border-color: initial;
    }
    
    li[data-type="monthly"] .cd-price {
        text-align: center;
        width: 90%;
    }
    
    .items img {
        width: 100px;
        height: 100px;
        display: inline-block;
    }
    
    .item div {
        text-align: center;
    }
    
    .items{
        display: block!important;
        width: 100%;
        text-align: center;
    }
    
    .items a {
        display: inline-block;
    }
    
    .vote {
        display: block;
    }
    
    .items .item {
        margin-top: 20px;
    }
    
    .items .item:not(.vote) {
        margin: 0 25px;
    }
    
    .logo img {
        left: initial;
    }
}

/* SM - Tablet */
@media (max-width: 1200px) and (min-width: 576px) {
    .cd-popular .cd-pricing-header {
        background-color: white!important;
    }
    
    .cd-price .off {
        top: 5px;
        right: 15px;
    }
}

/* SM - MD -LG - XL */
@media (min-width: 992px) {
    body::-webkit-scrollbar {
        width: 20px;
    }
    
    body {
        scrollbar-width: thin;
        scrollbar-color: dark;
    }
    
    body::-webkit-scrollbar-track {
        background: #333;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: #666;
    }
}